
h1 {
    font-family: 'Arimo', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
    font-weight: bolder;

}

h2 {
    margin-top: 5px;
}
h3{
    font-weight: bolder;
    font-size: 30px;
    color: black;
}



p {
    color:grey
}

header p span{
color: black;
font-weight: bold;
}

header h2 span {
    font-size: 20px;
}

header div h1 {
text-align: center;
}
header div h2 {
    text-align: center;
}

.fecha {
 color: grey;
}



.parrafoprofile {
    color: grey
}


.todo-skills {
    margin-left: 5px;

}

* {
    font-family: 'Arimo', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;

}

header {
    display: flex;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-bottom: 15px;
    padding: 5px;
    width: 35%;
    border-right: 0.5px solid rgb(175, 175, 175);
    flex-direction: column;
}

.contenedor {
    display: flex; 
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
    
}

    header div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    }

    img {
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .todo {
        margin-left: 20px;
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
        width: 65%;
    }

.skills {
    color: gray;
    font-size: 16px;
    margin-top: 0px;
    
}

.skills h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.languages h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}



/* HOVER A EDUCATION, WORK, ETC 

.active {
background-color: rgb(255, 255, 255);
color: black;
}

    .active h4 {
        display: block;
    }
    .active p {
        display: block;
    }

    article h4 {
        display: none;
    }
    article p {
        display: none;
    }
*/

.whatsappme {

}



img.big {
        transform: scale(1.05);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    h1.desap {
    color: rgb(131, 131, 131);
    }

    header h4.estrellas {
    color: rgb(88, 88, 88) ;
    }

    .label1:after{
        content:none; }
    .label1:hover:after{
        content:'★★★★★';
        color: black}        


    .label2:after{
        content:none;}
    .label2:hover:after{
        content:'★★★★★';
        color: black}        


    .label3:after{
        content:none;}
    .label3:hover:after{
        content:'★★★★★';
        color: black}        

    .label4:after{
        content:none;}
    .label4:hover:after{
        content:'★★★★★';      
        color: black}        


    .label5:after{
        content:none;}
    .label5:hover:after{
        content:'★★★★☆';
        color: black}        

    .label6:after{
        content:none;}
    .label6:hover:after{
        content:'★★★★☆';
        color: black}        

    .label7:after{
        content:none;}
    .label7:hover:after{
        content:'★★★☆☆';
        color: black}              
    
    .label8:after{
        content:none;}
    .label8:hover:after{
        content:'★★★☆☆';
        color: black}        

.links {
color: cornflowerblue;

}

.informacionpersonal {
margin-top: 10px;
margin-bottom: 10px;
}

.informacionpersonal p {
text-align: left;
margin-top: 0px;
margin-left: 0px;
padding-left: 0px;
margin-left: 15px;
}

.informacionpersonal .ico {
background-color: rgb(219, 219, 219);
color: white;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 2px;
padding-right: 2px;
font-size: 14px;
width: 20px;
border-radius: 60%;
margin-right: 10px;
text-align: center;
margin-top: -9px;
display: inline-block;
}



.barra {
    display: block;
    padding-top: 4px;
    margin-top: 0px;
}

.barra span {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: rgb(230, 230, 230);
}

.barra .exp {
    background-color: rgb(173, 173, 173);
}

.skills h4:hover .exp{
    background-color: cornflowerblue;
}

.languages h4:hover .exp{
    background-color: cornflowerblue;
}






@media screen and (max-width: 680px) {
    .contenedor {
        flex-direction: column;
        width: 100%;
    }

    header {
    border: 0;
    padding: 0;
    text-align: center;
    }
}


